<!-- <div id="step-footer">
  <hr aria-hidden="true" tabindex="-1" />

  <div id="footer-container" ng-if="$ctrl.currentStep !== 0">
      <div *ngIf="journeyservice.currentStep !=0" id="back-link-container" aria-label="Back">
          <span>
              <span class="back-link" aria-hidden="true"></span>
              <span class="back-link-text" aria-hidden="false" tabindex="0" role="link" >{{ 'application.buttons.back' | translate }}</span>
          </span>
      </div>

      <div id="buttons-container">
          <button type="button" (click)="continue()" class="btn btn-primary" aria-label="Continue">{{ 'application.buttons.continue' | translate }}</button>
      </div>
  </div>
</div> -->