<div id="confirm-dialog-container" modal-focus aria-modal="true" role="dialog" aria-labelledby="docUploadModal" class="documents-upload-container">
  <div class="dialog-title-container">
    <h3 mat-dialog-title class="dialog-title proxima-modal-heading" tabindex="0">Address Update Check</h3>
    <i class="material-icons close-icon" (click)="onNoClick()" tabindex="0">close</i>
  </div>

  <div>
    <div mat-dialog-content>
      <div class="document-panel">
        <div class="row">
          <!--The Address obtained from USPS is different from entered address. The Entered Address is {{serviceCallAddress.userAddress.FullAddress}} The
          USPS Address is {{serviceCallAddress.serviceAddress[0].USPSADDRESS}}  Do you want to update the address?
serviceAddress-->
          <div class="col-md-12 col-sm-12 col-xs-12 margin-b">
            Do you want to use USPS address?
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <div mat-dialog-actions class="modal-btns">
          <button mat-raised-button class="margin-r" (click)="confirmOrNot('Y')">Yes</button>
          <button mat-raised-button class="margin-r" (click)="confirmOrNot('N')">No</button>


        </div>
      </div>

    </div>
  </div>
</div>