<div class="footer">
    <div class="row" style="margin-left:5%;">
        <div class="top-part">
        </div>
        <div class="footer-section">
            <div class="footer-logo-link">
                <a href="/_">
                    <img src="assets/resources/images/JMMB GROUP_white.png"
                        style="height: 100px;width: 130px;float:left;" />
                </a>
            </div>
        </div>
        <div class="footer-menu">
            <ul style="list-style: none;">
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>Business Continuity Plan</a>
                </li>
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>Site Disclaimer</a>
                </li>
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>FATCA</a>
                </li>
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>Terms of Service</a>
                </li>
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>JMMB Group AML & KYC Policy</a>
                </li>
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>Privacy Policy</a>
                </li>
                <li style="color: white;">
                    <!--href="/business-continuity-plan" -->
                    <a>Cyber Security</a>
                </li>
            </ul>
        </div>
        <div class="socialAlign">
            <p>
                Connect with us:
            </p>
            <a href="/_">
                <img src="assets/resources/images/social_2.png" />
            </a>
        </div>

    </div>
    <div class="footerText">
        <p style="font-family: Raleway;"> &copy;2022 JMMB Group Limited. All rights reserved. 6 Haughton
            Terrace,
            Kingston 10, Jamaica, W.I.
            (876)998-JMMB (5662).</p>
    </div>
</div>