<div id="same-address-dialog-container" modal-focus aria-modal="true" role="dialog" aria-labelledby="docUploadModal" class="documents-upload-container">
  <div class="dialog-title-container">
    <h3 mat-dialog-title class="dialog-title proxima-modal-heading">Same Address Info</h3>
    <!-- <mat-icon class="close-icon" (click)="onNoClick()">Close</mat-icon> -->
    <i class="material-icons close-icon" (click)="onNoClick()">close</i>
  </div>

  <div>
    <div mat-dialog-content>
      <div class="document-panel">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 margin-b">
            The Current Address provided in form and USPS address are same.
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <div mat-dialog-actions class="modal-btns">
          <button mat-raised-button class="margin-r" (click)="onNoClick()">Close</button>



        </div>
      </div>

    </div>
  </div>
</div>