<div class="container thankyou-container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left">
                        <!-- <h4 *ngIf="code">
                            Error Status Code: {{code |translate}}
                        </h4> -->
                        <h4 style="color: black;">
                            <img src="assets/resources/images/error-1.png" alt="error image"> Your Session has expired
                        </h4>
                    </div>
                    <br><br><br><br><br>
                    <hr>
                    <button type="button" style="float: right;" mat-raised-button (click)="exit()">Exit</button><br><br><br><br><br>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>