
@import './src/assets/styles/sass/theme/anbtx/_anbtx-variables.scss';
@import './src/assets/styles/sass/global/_mixins.scss';
@import './src/assets/styles/sass/theme/anbtx/overrides/globals/_custom-styles.scss';

#resume-container {
  .absolute-center {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px; // position: absolute;
    height: auto;
    width: 40%;
    margin: auto;
    border: 1px solid;
    padding: 15px;
    margin-top: 15px;

    @include mobile{
      width:100% !important;
    }
    @include desktop{
      width:40% !important;
    }
    @include tablet{
      width:60% !important;
    }
  }
  .resume-header {
    background-color: #0097a9;
    padding: 10px;
  }

  .encryptedssn{
    border: 1px solid;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

#security-container {
    .dialog-title-container {
      margin-bottom:10px;
      .dialog-title {
        display: inline;
      }
      .close-icon {
        float: right;
        cursor: pointer;
      }
    }
    #back-link-container {
      float: left;
    }
    .mat-dialog-content {
      overflow: unset;
    }
    .document-column {
      height: 150px;
      margin-bottom: 10px;
      background-color: #d3d3d3;
    }
    .upload-image-container {
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      position: absolute;
      height: 50%;
      margin: auto;
      text-align: center;
    }
    .document-panel {
      margin-bottom: 0px;
    }
   
    .image-preview {
      width: 100%;
      height: 150px;
      max-width: 100%;
      border: 1px solid grey;
    }
    .modal-btns {
      float: right;
      margin-top:0px;
    }
    .margin-r {
      margin-right: 10px;
    }
     
    .padding-l20{
      padding-left:20px;
    }

    .mat-dialog-actions{
      flex-wrap: nowrap;
    }
    .margin-t
    {
      margin-top:10px;
    };
  }
  