@import './src/assets/styles/sass/theme/cwb/_cwb-variables.scss';
@import './src/assets/styles/sass/global/_mixins';
#view-container {
    min-height: calc(100vh - 150px);
    padding-bottom: 15px;
    @include mobile {
        min-height: calc(100% - 240px);
    }
    overflow-x: hidden;
    background-color: white;
}


app-footer {
    display: block;
}

.timeoutsection {
    text-align: center;
    border: 2px solid red;
    margin: 5px 20px 5px 20px;
    color:black;
    font-weight: bold;
    padding: 5px;
    position: fixed;
    margin-left: 33%;
    background: white;
    @include mobile {
        margin-left: 20px;
    }
}