<div class="tab-container">
  <session-timer></session-timer>
  <div class="row" *ngIf="alert" style="margin-top:10px;">
    <div class="col-12" role="alert" aria-live="assertive" aria-atomic="true">
      <error-alert [errorObject]=alert (close)="closeError()"></error-alert>
    </div>
  </div>
  <h3 class="heading margin-b">{{'application.documents.document-tab.header' | translate}}</h3>
  <p>{{'application.documents.document-tab.message' | translate}}</p>
  <div *ngIf="configLoaded">
    <mat-tab-group [selectedIndex]="applicantIndex">
      <mat-tab label="Primary">
        <ng-template matTabContent>
          <documents [config]="primaryConfig" [index]="0">
          </documents>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'Co-applicant ' +(i+1)}}" *ngFor="let item of coAppConfig; let i = index;">
        <ng-template matTabContent>
          <documents [config]="item" [index]="i+1">
          </documents>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div id="step-footer">
    <hr aria-hidden="true" tabindex="-1" />
    <div id="footer-container" class="row">
      <div class="col-12">
        <button class="fl-right" color="primary" mat-raised-button (click)="continue()">Continue</button>
      </div>
    </div>
  </div>
</div>